.back-arrow {
  font-size: 18px;
  color: #6c757d;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
  margin-left: 10px;
  position: absolute;
  left: 10px;
}

.info-container {
  display: flex;
  gap: 10%;
  justify-content: center;
  align-items: center;
}

.drink-container {
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin-top: 120px;
}

.drink-title {
  font-size: 32px;
  color: #e63946;
  margin-bottom: 40px;
  margin-top: 40px;
}

.drink-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border: 2px solid #e63946;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 80%;
  width: 50%;
}

.drink-image {
  display: block;
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.customize-text {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  margin-bottom: 15px;
}

.drink-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.drink-button {
  background-color: #f1f1f1;
  color: #333;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-transform: capitalize;
}

.drink-button.selected {
  background-color: #e63946;
  color: #fff;
}

.drink-button:hover {
  background-color: #e0e0e0;
}

.drink-button.selected:hover {
  background-color: #c32e3b;
}

.option {
  margin-top: 20px;
}

.size-buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.size-button {
  background-color: #f1f1f1;
  color: #333;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.size-button.active {
  background-color: #e63946;
  color: #fff;
}

.size-button:hover {
  background-color: #e0e0e0;
}

.size-button.active:hover {
  background-color: #c32e3b;
}

.summary {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.submit-button {
  background-color: #e63946;
  color: #fff;
  border: none;
  padding: 12px 25px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
  max-width: 250px;
  margin-top: 30px;
}

.submit-button:hover {
  background-color: #c32e3b;
}
